namespace_content <- "

export(calcSWDSEmissionsYearly)
export(calcSWDSEmissionsMonthly)
export(calcSWDSEmissionsSimplified)
export(runSWDSFODRApp)
"
writeLines(namespace_content, "SWDSFODR/NAMESPACE")
